language: objective-c
env:
    - SPARK_SCHEME=Simian
    - SPARK_SCHEME=SparkCore
    - SPARK_SCHEME=SparkLogger
    - SPARK_SCHEME=SparkServices
    - SPARK_SCHEME=SparkWebService
    - SPARK_SCHEME=SparkObservation
    - SPARK_SCHEME=SparkSerialization
    - SPARK_SCHEME=SparkAttributesCodeGenerator
before_script:
    - chmod +x ./script/ci/install_simian.sh
    - chmod +x ./script/ci/install_oclint.sh
    - chmod +x ./script/ci/script_simian.sh
    - chmod +x ./script/ci/script_general.sh
script:
    - if [[ $SPARK_SCHEME == Simian ]]; then ./script/ci/install_simian.sh; else ./script/ci/install_oclint.sh; fi
    - if [[ $SPARK_SCHEME == Simian ]]; then ./script/ci/script_simian.sh; else ./script/ci/script_general.sh; fi
notifications:
  email:
    - Valery_Demin@epam.com