language: objective-c
env:
    - SPARK_SCHEME=SparkCore
    - SPARK_SCHEME=SparkLogger
    - SPARK_SCHEME=SparkServices
    - SPARK_SCHEME=SparkWebService
    - SPARK_SCHEME=SparkObservation
    - SPARK_SCHEME=SparkSerialization
    - SPARK_SCHEME=SparkAttributesCodeGenerator
    - SPARK_SCHEME=Simian
before_install:
    - if [[ $SPARK_SCHEME == Simian ]]; then install_simian.sh; else install_oclint.sh; fi
script:
    - if [[ $SPARK_SCHEME == Simian ]]; then script_simian.sh; else script_general.sh; fi
notifications:
  email:
    - Valery_Demin@epam.com