<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>codefile</key>
	<string>//
//  $webClientName$.m
//  ODataDemo
//
//  Created on $creationdate$ by ODataEntityGenerator.
//  Copyright (c) EPAM Systems. All rights reserved.
//

#import &quot;$webClientName$.h&quot;

@implementation $webClientName$

@end
</string>
	<key>serviceDeclaration</key>
	<string>
RF_ATTRIBUTE(RFWebServiceHeader, hearderFields = @{@&quot;Accept&quot; : @&quot;application/json&quot;})
RF_ATTRIBUTE(RFWebServiceURLBuilder, builderClass = [RFODataWebServiceURLBuilder class])
RF_ATTRIBUTE(RFWebServiceCall, prototypeClass = [$classname$ class])
- (id&lt;RFWebServiceCancellable&gt;)load$entity_set_name$WithFetchRequest:(RFODataFetchRequest *)fetchRequest success:(void(^)(id result))successBlock failure:(void(^)(NSError *error))failureBlock;
</string>
	<key>headerfile</key>
	<string>//
//  $webClientName$.h
//
//  Created on $creationdate$ by ODataEntityGenerator.
//  Copyright (c) EPAM Systems. All rights reserved.
//

#import &lt;ROAD/ROADWebservice.h&gt;

RF_ATTRIBUTE(RFWebServiceErrorHandler, handlerClass = @&quot;RFODataErrorHandler&quot;)
RF_ATTRIBUTE(RFWebServiceClientStatusCodes, successCodes = @[[NSValue valueWithRange:NSMakeRange(200, 100)]])
@interface $webClientName$ : RFWebServiceClient
$service_declaration$
@end
</string>
	<key>webClientName</key>
	<string>ODataDemoWebClient</string>
	<key>creationDateFormatString</key>
	<string>yyyy-MM-dd</string>
</dict>
</plist>
