<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>creationDateFormatString</key>
	<string>yyyy-MM-dd</string>
	<key>dateFormat</key>
	<string>yyyy-MM-dd&apos;T&apos;HH:mm:ss&apos;Z&apos;</string>
	<key>readonlyProperties</key>
	<true/>
	<key>camelcaseProperties</key>
	<true/>
	<key>dateFormatString</key>
	<string>
RF_ATTRIBUTE(RFSerializableDate, format = @&quot;$dateFormat$&quot;)</string>
	<key>headerfile</key>
	<string>//
//  $classname$
//
//  Created on $creationdate$ by ODataEntityGenerator.
//  Copyright (c) EPAM Systems. All rights reserved.
//

$forwarddeclarations$

#import &lt;ROAD/ROADWebservice.h&gt;
#import &lt;ROAD/ROADSerialization.h&gt;

RF_ATTRIBUTE(RFODataEntity)
@interface $classname$ : $baseclass$

$properties$
@end
        
</string>
	<key>headerfile_property</key>
	<string>RF_ATTRIBUTE(RFSerializable, serializationKey = @&quot;$originalpropertyname$&quot;)$collectionTypeAnnotation$$dateFormat$
@property ($propertyqualifier$, nonatomic) $propertytype$ $propertyname$;
</string>
	<key>collectionAnnotation</key>
	<string>
RF_ATTRIBUTE(RFSerializableCollection, collectionClass = [$propertytype$ class])</string>
	<key>codefile</key>
	<string>//
//  $classname$
//
//  Created on $creationdate$ by ODataEntityGenerator.
//  Copyright (c) EPAM Systems. All rights reserved.
//

#import &quot;$classname$.h&quot;
$imports$

@implementation $classname$
{
$propertymembers$}

@end
</string>
	<key>codefile_import</key>
	<string>#import &quot;$classname$.h&quot;
</string>
	<key>codefile_property</key>
	<string>@synthesize $propertyname$ = _$propertyname$;
</string>
	<key>codefile_propertymember</key>
	<string>   $propertytype$ _$propertyname$;
</string>
	<key>nullableTypeMappings</key>
	<dict>
		<key>boolean</key>
		<string>NSNumber *</string>
		<key>int32</key>
		<string>NSNumber *</string>
		<key>int16</key>
		<string>NSNumber *</string>
		<key>int64</key>
		<string>NSNumber *</string>
		<key>byte</key>
		<string>NSNumber *</string>
		<key>double</key>
		<string>NSNumber *</string>
		<key>single</key>
		<string>NSNumber *</string>
		<key>guid</key>
		<string>NSNumber *</string>
		<key>sbyte</key>
		<string>NSNumber *</string>
		<key>string</key>
		<string>NSString *</string>
		<key>time</key>
		<string>NSDate *</string>
		<key>datetimeoffset</key>
		<string>NSDate *</string>
		<key>datetime</key>
		<string>NSDate *</string>
		<key>decimal</key>
		<string>NSNumber *</string>
		<key>binary</key>
		<string>NSData *</string>
	</dict>
	<key>typeQualifiers</key>
	<dict>
		<key>BOOL</key>
		<string>assign</string>
		<key>int</key>
		<string>assign</string>
		<key>long</key>
		<string>assign</string>
		<key>unsigned char</key>
		<string>assign</string>
		<key>double</key>
		<string>assign</string>
		<key>float</key>
		<string>assign</string>
		<key>NSString *</key>
		<string>copy</string>
		<key>char</key>
		<string>assign</string>
		<key>NSDate *</key>
		<string>retain</string>
		<key>NSNumber *</key>
		<string>retain</string>
		<key>NSData *</key>
		<string>retain</string>
	</dict>
	<key>defaultQualifier</key>
	<string>retain</string>
	<key>propertytype_array</key>
	<string>NSMutableArray *</string>
	<key>propertytype_readonly_array</key>
	<string>NSArray *</string>
	<key>forward_declaration</key>
	<string>@class $propertytype$;
</string>
</dict>
</plist>
