<footer>
    <div class="wrap mobFooter">
        <div class="leftColumn">

            <a href="/"><img src="{{ site.baseurl }}/img/logo-2.png"> </a>
            <a href="/" class="logoAddition desktop">rapid objective-c applications development</a>
        </div>

        <div class="rightColumn mob">
            <nav class="links mob">
                <a href="https://github.com/epam/road-ios-framework">Github</a>
                <a href="https://github.com/epam/road-ios-framework/tree/master/Documents">Documentation</a>
                <a href="https://github.com/epam/road-ios-framework/tree/master/Examples">Projects</a>
            </nav>
        </div>

    </div>
</footer>
<script src="{{ "/js/js.js" | prepend: site.baseurl }}"></script>