        <a href="/" class="logo"><img src="{{ site.baseurl }}/img/logo.png" alt="ROAD Logo"></a>
        <a href="/">Rapid Objective-C Applications Development</a>
        <div class="menu clearfix" id="menu">

            <span class="iconMobMenu clearfix"></span>
            <div class="menuBlock">Introduction</div>
            <a href="#" class="cat clearfix" id="link"></a>

            <nav class="mobNav links clearfix" >
                <a href="https://github.com/epam/road-ios-framework">Github</a>
                <a href="https://github.com/epam/road-ios-framework/tree/master/Documents">Documentation</a>
                <a href="https://github.com/epam/road-ios-framework/tree/master/Examples">Projects</a>
                <a href="https://twitter.com/ROADFramework"><img src="{{ site.baseurl }}/img/twitter.png" alt="Twitter Logo"></a>
            </nav>


        </div>