<header>

    <div class="headerPart clearfix">
        {% include header_nav.html %}
    </div>


    <div class="clearfix headerContent headerPart">
        <div class="headerBlock right">
            <h1>Complex apps. Easier.</h1>
            <p>
                We all have to deal with web service integration in our application. 
            So why we waste our time and make that task for every single project we have? Well, worry no more!
            We nailed all the aspects of integration with web services so you can make that task in few minutes.
            </p>

        </div>


        <div class="information headerBlock">
            <p class="versionGit">Get the latest version from Github:</p>
            <div class="numb">
                <div class="period">
                    <span>Starred</span>
                    <p id="gitStarred">33</p>
                </div>

                <div class="period">
                    <span>Forked</span>
                    <p id="gitForked">14</p>
                </div>
            </div>
            <a href="https://github.com/epam/road-ios-framework/archive/master.zip" class="download">Download Latest Road</a>

            <p class="descrip">Keep up to date on new releases, additonal tools,
                and techniques by watching our page
            </p>

            <form>
                <a href="https://github.com/epam/road-ios-framework/subscription" class="watch_link">Watch</a>
            </form>

        </div>


    </div>

    <div class="strip headerPart">

        <div class="wrapStrip">


            <a href="https://twitter.com/ROADFramework" target="_blank" class="more">More</a>

            <div id="tweetLine"><p>Tweets with 'ROADFramework'</p><span>&nbsp;</span></div>

        </div>

    </div>
</header>