<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Info</key>
	<string>-1000</string>
	<key>Debug</key>
	<string>-1001</string>
	<key>Warning</key>
	<string>-1002</string>
	<key>Error</key>
	<string>-1003</string>
</dict>
</plist>
