<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kACLogMessageDebug</key>
	<string>Debug</string>
	<key>kACLogMessageInfo</key>
	<string>Info</string>
	<key>kACLogMessageWarning</key>
	<string>Warning</string>
	<key>kACLogMessageError</key>
	<string>Error</string>
</dict>
</plist>
