<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>cacheDisabled</key>
			<string>yes</string>
		</dict>
		<key>attributeName</key>
		<string>ESDWebServiceCache</string>
		<key>attributeType</key>
		<string>method</string>
		<key>targetName</key>
		<string>testErrorHandlerRootWithSuccess:failure:</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>Accept</key>
			<string>application/json</string>
		</dict>
		<key>attributeName</key>
		<string>ESDWebServiceHeader</string>
		<key>attributeType</key>
		<string>method</string>
		<key>targetName</key>
		<string>testErrorHandlerRootWithSuccess:failure:</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>serializationDisabled</key>
			<string>no</string>
		</dict>
		<key>attributeName</key>
		<string>ESDWebServiceCall</string>
		<key>attributeType</key>
		<string>method</string>
		<key>targetName</key>
		<string>testErrorHandlerRootWithSuccess:failure:</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>handlerClass</key>
			<string>ESDODataErrorHandler</string>
		</dict>
		<key>attributeName</key>
		<string>ESDWebServiceErrorHandler</string>
		<key>attributeType</key>
		<string>method</string>
		<key>targetName</key>
		<string>testErrorHandlerRootWithSuccess:failure:</string>
	</dict>
	<dict>
		<key>attributeName</key>
		<string>ESDWebServiceCall</string>
		<key>attributeType</key>
		<string>method</string>
		<key>targetName</key>
		<string>loadDataWithFetchRequest:success:failure:</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>cacheDisabled</key>
			<string>yes</string>
		</dict>
		<key>attributeName</key>
		<string>ESDWebServiceCache</string>
		<key>attributeType</key>
		<string>method</string>
		<key>targetName</key>
		<string>loadDataWithFetchRequest:success:failure:</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>Accept</key>
			<string>application/json</string>
		</dict>
		<key>attributeName</key>
		<string>ESDWebServiceHeader</string>
		<key>attributeType</key>
		<string>method</string>
		<key>targetName</key>
		<string>loadDataWithFetchRequest:success:failure:</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>defaultValue</key>
			<string>ESDODataWebServiceURLBuilder</string>
		</dict>
		<key>attributeName</key>
		<string>ESDWebServiceURLBuilder</string>
		<key>attributeType</key>
		<string>method</string>
		<key>targetName</key>
		<string>loadDataWithFetchRequest:success:failure:</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>defaultValue</key>
			<string>?importantParameter=%%1%%</string>
		</dict>
		<key>attributeName</key>
		<string>ESDWebServiceCall</string>
		<key>attributeType</key>
		<string>method</string>
		<key>targetName</key>
		<string>loadDataWithFetchRequest:someImportantParameter:success:failure:</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>cacheDisabled</key>
			<string>yes</string>
		</dict>
		<key>attributeName</key>
		<string>ESDWebServiceCache</string>
		<key>attributeType</key>
		<string>method</string>
		<key>targetName</key>
		<string>loadDataWithFetchRequest:someImportantParameter:success:failure:</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>Accept</key>
			<string>application/json</string>
		</dict>
		<key>attributeName</key>
		<string>ESDWebServiceHeader</string>
		<key>attributeType</key>
		<string>method</string>
		<key>targetName</key>
		<string>loadDataWithFetchRequest:someImportantParameter:success:failure:</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>defaultValue</key>
			<string>ESDODataWebServiceURLBuilder</string>
		</dict>
		<key>attributeName</key>
		<string>ESDWebServiceURLBuilder</string>
		<key>attributeType</key>
		<string>method</string>
		<key>targetName</key>
		<string>loadDataWithFetchRequest:someImportantParameter:success:failure:</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>serializationRoot</key>
			<string>coord.lon</string>
		</dict>
		<key>attributeName</key>
		<string>ESDWebServiceCall</string>
		<key>attributeType</key>
		<string>method</string>
		<key>targetName</key>
		<string>testSerializationRootWithSuccess:failure:</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>cacheDisabled</key>
			<string>yes</string>
		</dict>
		<key>attributeName</key>
		<string>ESDWebServiceCache</string>
		<key>attributeType</key>
		<string>method</string>
		<key>targetName</key>
		<string>testSerializationRootWithSuccess:failure:</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>serializationDisabled</key>
			<string>no</string>
		</dict>
		<key>attributeName</key>
		<string>ESDWebServiceCall</string>
		<key>attributeType</key>
		<string>method</string>
		<key>targetName</key>
		<string>testSerializationRootWithSuccess:failure:</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>successCodes</key>
			<array>
				<string>NSRange:{200, 300}</string>
			</array>
		</dict>
		<key>attributeName</key>
		<string>ESDWebServiceCall</string>
		<key>attributeType</key>
		<string>method</string>
		<key>targetName</key>
		<string>testSerializationRootWithSuccess:failure:</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>serializationRoot</key>
			<string>coord.lon.localizedMessage.locale</string>
		</dict>
		<key>attributeName</key>
		<string>ESDWebServiceCall</string>
		<key>attributeType</key>
		<string>method</string>
		<key>targetName</key>
		<string>testWrongSerializationRootWithSuccess:failure:</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>cacheDisabled</key>
			<string>yes</string>
		</dict>
		<key>attributeName</key>
		<string>ESDWebServiceCache</string>
		<key>attributeType</key>
		<string>method</string>
		<key>targetName</key>
		<string>testWrongSerializationRootWithSuccess:failure:</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>serializationDisabled</key>
			<string>no</string>
		</dict>
		<key>attributeName</key>
		<string>ESDWebServiceCall</string>
		<key>attributeType</key>
		<string>method</string>
		<key>targetName</key>
		<string>testWrongSerializationRootWithSuccess:failure:</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>successCodes</key>
			<array>
				<string>NSRange:{200, 300}</string>
			</array>
		</dict>
		<key>attributeName</key>
		<string>ESDWebServiceCall</string>
		<key>attributeType</key>
		<string>method</string>
		<key>targetName</key>
		<string>testWrongSerializationRootWithSuccess:failure:</string>
	</dict>
</array>
</plist>
