<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>defaultValue</key>
			<string>Name</string>
		</dict>
		<key>attributeName</key>
		<string>ESDODataProperty</string>
		<key>attributeType</key>
		<string>property</string>
		<key>targetName</key>
		<string>name</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>defaultValue</key>
			<string>Date</string>
		</dict>
		<key>attributeName</key>
		<string>ESDODataProperty</string>
		<key>attributeType</key>
		<string>property</string>
		<key>targetName</key>
		<string>date</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>defaultValue</key>
			<string>Cost</string>
		</dict>
		<key>attributeName</key>
		<string>ESDODataProperty</string>
		<key>attributeType</key>
		<string>property</string>
		<key>targetName</key>
		<string>cost</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>defaultValue</key>
			<string>TotalCost</string>
		</dict>
		<key>attributeName</key>
		<string>ESDODataProperty</string>
		<key>attributeType</key>
		<string>property</string>
		<key>targetName</key>
		<string>total</string>
	</dict>
	<dict>
		<key>attributeMetadata</key>
		<dict>
			<key>defaultValue</key>
			<string>TestEntity</string>
		</dict>
		<key>attributeName</key>
		<string>ESDODataEntity</string>
		<key>attributeType</key>
		<string>class</string>
		<key>targetName</key>
		<string>ESDODataTestEntity</string>
	</dict>
</array>
</plist>
